*{
    --color-white: #fff;
    --color-yellow: rgb(5, 0, 29);
    --color-black: rgb(118, 118, 248);
}
.t-w{
    color: var(--color-white);
}
.t-b{
    color: var(--color-black);
}
.t-y{
    color: var(--color-yellow);
}
.bg-w{
    background-color: var(--color-white);
}
.bg-b{
    background-color: var(--color-black);
}
.bg-y{
    background-color: var(--color-yellow);
}
.b-w{
    border: 1px solid var(--color-white);
}
.b-b{
    border: 1px solid var(--color-black);
}
.b-y{
    border: 1px solid var(--color-yellow);
}
.bb-w{
    border-bottom: 1px solid var(--color-white);
}
.bb-b{
    border-bottom: 1px solid var(--color-black);
}
.bb-y{
    border-bottom: 1px solid var(--color-yellow);
}
#app{
    height: 100vh;
}
#app .part1{
    height: 10%;
}
#app .part2{
    height: 90%;
}
@media screen and (max-width: 576px) {
    #app{
        min-height: 100vh;
    }
    #app .part2-nav{
        height: auto;
    }
}