*{

}

.item{
    background-color: rgb(206, 213, 218) ;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.item2{
    width: 55%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin:  auto;
}

main{
    display: flex;
    width: 100%;
   margin: auto;
   justify-content: center;
    align-items: center;
    height: 100vh;

}

body{
    font-family: 'Times New Roman';
}

.box1{
    background-color: rgb(79, 79, 195);
    width: 50%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 500px;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);


}

.box2{
    background-color: white;
    width: 50%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 500px;
    /*box-shadow: 10px 10px;*/
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);


}

/*form{


}
.form1{

}*/

.input{
    margin: 8px;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    margin-left:  5px;

}

#text{
    display: inline;
    font-size: small;
    margin: 0;
}

#pass{
    float: right;
    font-size: small;
    display: inline;
    margin: 0;
    padding: 0%;
    margin-left: 3px;

}

button{
    color: white;
    background-color:rgb(79, 79, 195) ;
}

.bt{
    border: none;
    width: 75px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    margin: 1px;
}

button:hover{
    background-color:rgb(7, 94, 7);
}

a{
    text-decoration: none;
    color: blue;
}


label{
    font-size: small;
    margin-left: 15px;
}

#text2 {
    margin-left: 10%;
    text-align: center;
    margin: 5%;
}

p{
    margin-top: 0px;
    text-align: center;
}
h2{
    padding-left: 20px;
    text-align: center;
}

.horizontal{
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width:768px) {
    #text2{
        margin-left: 10%;
         margin: 5%;


    }

    .input{
        margin: 8px;
        width: auto;
        height: 30px;
        margin-left:  15px;

    }

    p{
        margin-top: 60px;
        text-align: center;
        margin-left: 5px;
    }

    .bt{
        border: none;
        width: 170px;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        margin-left: 15px;
        margin-top: 30px;
    }

    #pass{

        font-size: small;
        display: inline;
        margin-left: 15px;

    }
    h2{
        padding-left: 20px;
        text-align: center;
        margin-top: 60px;
    }

}

@media only screen and (min-width:1000px) {
    #text2 {
        margin-left: 10%;
        margin: 5%;


    }

    .input{
        margin: 8px;
        width: 200px;
        height: 30px;
        border-radius: 5px;
        margin-left:  20px;

    }

    p{
        margin-top: 80px;
        text-align: center;
    }

    .bt{
        border: none;
        width: 210px;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        margin-left: 20px;
    }

    #pass{

        font-size: small;
        display: inline;
        margin-left: 20px;
}

h2{
    padding-left: 20px;
    text-align: center;
    margin-top: 60px;
}


}

@media screen and (min-width:1344px){
    #text2 {
        margin-left: 10%;
        margin: 5%;


    }

    .input{
        margin: 8px;
        width: 250px;
        height: 30px;
        border-radius: 5px;
        margin-left:  50px;

    }

    p{
        margin-top: 115px;
        text-align: center;
    }

    .bt{
        border: none;
        width: 250px;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        margin-left: 50px;
    }

    .horizontal{
        display: flex;
        flex-direction: row;
    }

    #pass{

        font-size: small;
        display: inline;
        margin-left: 65px;
        margin-top: 5px;
    }

    label{
        font-size: small;
        margin-left: 50px;
    }

    h2{
        padding-left: 20px;
        text-align: center;
        margin-top: 60px;
    }
}
